




<link href="@{'/public/stylesheets/main.css'}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="@{'/public/javascripts/jquery-1.3.2.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/swfobject.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery-1.3.2.min.js'}"></script>
<script type="text/javascript">
$(document).ready(function() {
 });
</script>

<body>
<div class='form1'>
#{form @uploadPicture()}
<input id="file_upload" name="file_upload" type="file" />
<input type="submit" value="+" name="add" />
<input type="submit" value="Save" name="submit" />
#{/form}
</div>

#{form @uploadPicture()}
<input id="file_upload" name="file_upload" type="file" />
<input type="submit" value="+" name="add" />
<input type="submit" value="-" name="remove" />
<input type="submit" value="Save" name="submit" />
#{/form}

#{form @uploadPicture()}
<input id="file_upload" name="file_upload" type="file" />
<input type="submit" value="+" name="add" />
<input type="submit" value="-" name="remove" />
<input type="submit" value="Save" name="submit" />
#{/form}
#{form @uploadPicture()}
<input id="file_upload" name="file_upload" type="file" />
<input type="submit" value="+" name="add" />
<input type="submit" value="-" name="remove" />
<input type="submit" value="Save" name="submit" />
#{/form}
#{form @uploadPicture()}
<input id="file_upload" name="file_upload" type="file" />
<input type="submit" value="+" name="add" />
<input type="submit" value="-" name="remove" />
<input type="submit" value="Save" name="submit" />
#{/form}
#{form @uploadPicture()}
<input id="file_upload" name="file_upload" type="file" />
<input type="submit" value="+" name="add" />
<input type="submit" value="-" name="remove" />
<input type="submit" value="Save" name="submit" />
#{/form}

#{form @uploadPicture()}
<input id="file_upload" name="file_upload" type="file" />
<input type="submit" value="-" name="remove" />
<input type="submit" value="Save" name="submit" />
#{/form}
</body>




</html>


  
  
  
  <div id="product-image-area" class="group" style="border-bottom: none; padding-top: 0"> 
    <ul id="photos" class="nobull">    
     <li id="no-product-images-msg" class="" > 
            <%= Html.Image("no-photos.png") %> 
     </li> 
   </ul>
 </div> 
 <div id="upload-area"> 
    <h4 class="st">Upload an image</h4>
    <p class="note">Allowed file types are .gif, .jpg, .jpeg, and .png</p> 
    <p id="file-input" class="st sb"><input class="photo-upload" id="VenuePhotos_0" name="VenuePhotos[]" type="file" /></p> 
 </div>

 $('.photo-upload').live('change', function () {
     var li = $('<li />').text($(this).val()),
         img = $('<img src="/vh/public/images/icon-delete.png" class="delete" />'),
         input = $(this).clone();

     li.append(img);
     $('#photos').append(li);
     $(this).parent().append(input);
     $(this).hide();

     img.click(function() {
         input.remove();
         li.remove();
     });
 });
 
 
 