#{extends 'main.html' /}
#{set title:'Workshop : PicturePlay' /}





<a href="">${name}</a> 

<html>
<head>
<title>Placeholder Image Example</title>
<script src="public/javascripts/jquery-1.3.2.min.js"></script>
<script language="JavaScript">
$(document).ready(function () {
   loadFPOImages();
});
function loadFPOImages() {
   var fpoImages = $("@{'/public/images/pic1.jpg'}");
   var src="";
   for (var i=0;i<fpoImages.length;i++) {
      src=$(fpoImages[i]).attr("src")
         +"/"+$(fpoImages[i]).attr("width")
         +"x"+$(fpoImages[i]).attr("height")
         +"/"+$(fpoImages[i]).attr("alt");
      $(fpoImages[i]).attr("src",src);
   }
}
</script>   
</head>
<body>





<table width="100%" height="50%" border="1" align="center" cellpadding="0.2" bgcolor="#996633" id="PicTable" summary="Page to select pictures">
  <caption align="center">
    Design
  </caption>
  <tr>
  
    <td width="30%"><p>
   <img src="@{'/public/images/pic1.jpg'}" width="728" height="90" alt="Banner Ad" />
</p></td>
    <td width="43%" rowspan="4"><div align="center"><img src="" alt="" name="Preview" width="176" height="84" id="Preview" style="background-color: #CC3333" /></div></td>
  </tr>
  <tr>

  
    <td><p>
   <img src="@{Application.image(id)}" width="728" height="90" alt="Banner Ad" />
</p></td>
  </tr>
  <tr>
  
    
   
    <td><p>
   <img src="@{'/public/images/pic3.jpg'}" width="728" height="90" alt="Banner Ad" />
</p> </d>
      <input type="submit" name="Submit7" value="Submit" />
   </td>
  </tr>
  <tr>
 
    
  </tr>
</table>
</body>
</html>


